body {
    font-family: "Neuropol x";
    /* background-color: black; */
}

.timer-container {
    background-color: yellowgreen;
    border: 5px solid gray;
    margin-top: 19%;
    border-radius: 2px;
}